In [1]:
import numpy as np
import pandas as pd
import csv
import sklearn

## Main Task

In [2]:
df = pd.read_csv("movie_series.csv")

In [3]:
df.head(10)

,Title,Year Released,Movie Length,Movie Rating,Star Rating
0,Dangal,2016,2h 41m,13+,8.3
1,Top Gun: Maverick,2022,2h 10m,SU,8.3
2,Per qualche dollaro in più,1965,2h 12m,R,8.2
3,Batman Begins,2005,2h 20m,D,8.2
4,Some Like It Hot,1959,2h 1m,Passed,8.2
5,The Kid,1921,1h 8m,Passed,8.2
6,The Wolf of Wall Street,2013,3h,21+,8.2
7,The Father,2020,1h 37m,13+,8.2
8,Green Book,2018,2h 10m,13+,8.2
9,All About Eve,1950,2h 18m,Passed,8.2

In [4]:
df.tail(10)

,Title,Year Released,Movie Length,Movie Rating,Star Rating
115,The Sound of Music,1965,2h 52m,21,8.1
116,Pather Panchali,1955,2h 5m,NaN,8.2
117,It Happened One Night,1934,1h 45m,Passed,8.1
118,The Iron Giant,1999,1h 26m,PG,8.1
119,The Help,2011,2h 26m,13+,8.1
120,Les quatre cents coups,1959,1h 39m,NaN,8.1
121,Persona,1966,1h 25m,NaN,8.1
122,Life of Brian,1979,1h 34m,D,8.0
123,Aladdin,1992,1h 30m,G,8.0
124,Dances with Wolves,1990,3h 1m,PG-13,8.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          125 non-null    object
 1   Year Released  125 non-null    int64
 2   Movie Length   125 non-null    object
 3   Movie Rating   112 non-null    object
 4   Star Rating    125 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 5.0+ KB

In [6]:
df.describe()

       Year Released  Star Rating
count     125.000000   125.000000
mean     1986.088000     8.140000
std        27.107021     0.084242
min      1921.000000     8.000000
25%      1965.000000     8.100000
50%      1995.000000     8.100000
75%      2008.000000     8.200000
max      2022.000000     8.800000

In [7]:
pd.set_option("display.max_rows", 5)
df

                  Title  Year Released Movie Length Movie Rating  Star Rating
0                Dangal           2016       2h 41m          13+          8.3
1     Top Gun: Maverick           2022       2h 10m           SU          8.3
..                  ...            ...          ...          ...          ...
123             Aladdin           1992       1h 30m            G          8.0
124  Dances with Wolves           1990        3h 1m        PG-13          8.0

[125 rows x 5 columns]

In [8]:
df.rename(columns={"Title": "Movie Name"}, inplace=True)
df

             Movie Name  Year Released Movie Length Movie Rating  Star Rating
0                Dangal           2016       2h 41m          13+          8.3
1     Top Gun: Maverick           2022       2h 10m           SU          8.3
..                  ...            ...          ...          ...          ...
123             Aladdin           1992       1h 30m            G          8.0
124  Dances with Wolves           1990        3h 1m        PG-13          8.0

[125 rows x 5 columns]

In [9]:
df.set_index("Movie Name")

                    Year Released Movie Length Movie Rating  Star Rating
Movie Name
Dangal                       2016       2h 41m          13+          8.3
Top Gun: Maverick            2022       2h 10m           SU          8.3
...                           ...          ...          ...          ...
Aladdin                      1992       1h 30m            G          8.0
Dances with Wolves           1990        3h 1m        PG-13          8.0

[125 rows x 4 columns]

In [10]:
df.reset_index()
df.melt()

        variable              value
0     Movie Name             Dangal
1     Movie Name  Top Gun: Maverick
..           ...                ...
623  Star Rating                8.0
624  Star Rating                8.0

[625 rows x 2 columns]

In [11]:
df.pivot(columns="Year Released")

              Movie Name                                               ...  \
Year Released       1921 1924 1925 1926 1928 1934 1939 1940 1942 1946  ...
0                    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1                    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
..                   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
123                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
124                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...

              Star Rating
Year Released        2013 2014 2015 2016 2017 2018 2019 2020 2021 2022
0                     NaN  NaN  NaN  8.3  NaN  NaN  NaN  NaN  NaN  NaN
1                     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  8.3
..                    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
123                   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
124                   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[125 rows x 264 columns]

In [12]:
df.rename(columns={"Movie Name" : "Title"}, inplace=True)
df2 = pd.read_csv("movie_series2.csv")
df_merge = pd.concat([df, df2])
df_merge

                  Title  Year Released Movie Length Movie Rating  Star Rating
0                Dangal           2016       2h 41m          13+          8.3
1     Top Gun: Maverick           2022       2h 10m           SU          8.3
..                  ...            ...          ...          ...          ...
123             Aladdin           1992       1h 30m            G          8.0
124  Dances with Wolves           1990        3h 1m        PG-13          8.0

[250 rows x 5 columns]

In [13]:
df_merge.apply(lambda x : print(x), axis = 1)
df_merge

Title            Dangal
Year Released      2016
Movie Length     2h 41m
Movie Rating        13+
Star Rating         8.3
Name: 0, dtype: object
Title            Top Gun: Maverick
Year Released                 2022
Movie Length                2h 10m
Movie Rating                    SU
Star Rating                    8.3
Name: 1, dtype: object
Title            Per qualche dollaro in più
Year Released                          1965
Movie Length                         2h 12m
Movie Rating                              R
Star Rating                             8.2
Name: 2, dtype: object
Title            Batman Begins
Year Released             2005
Movie Length            2h 20m
Movie Rating                 D
Star Rating                8.2
Name: 3, dtype: object
Title            Some Like It Hot
Year Released                1959
Movie Length                2h 1m
Movie Rating               Passed
Star Rating                   8.2
Name: 4, dtype: object
Title            The Kid
Year Released       1921
Movie Length       1h 8m
Movie Rating      Passed
Star Rating          8.2
Name: 5, dtype: object
Title            The Wolf of Wall Street
Year Released                       2013
Movie Length                          3h
Movie Rating                         21+
Star Rating                          8.2
Name: 6, dtype: object
Title            The Father
Year Released          2020
Movie Length         1h 37m
Movie Rating            13+
Star Rating             8.2
Name: 7, dtype: object
Title            Green Book
Year Released          2018
Movie Length         2h 10m
Movie Rating            13+
Star Rating             8.2
Name: 8, dtype: object
Title            All About Eve
Year Released             1950
Movie Length            2h 18m
Movie Rating            Passed
Star Rating                8.2
Name: 9, dtype: object
Title            Judgment at Nuremberg
Year Released                     1961
Movie Length                    2h 59m
Movie Rating                  Approved
Star Rating                        8.3
Name: 10, dtype: object
Title            The Truman Show
Year Released               1998
Movie Length              1h 43m
Movie Rating                  21
Star Rating                  8.2
Name: 11, dtype: object
Title            There Will Be Blood
Year Released                   2007
Movie Length                  2h 38m
Movie Rating                     18+
Star Rating                      8.2
Name: 12, dtype: object
Title               Ran
Year Released      1985
Movie Length     2h 42m
Movie Rating          R
Star Rating         8.2
Name: 13, dtype: object
Title            Casino
Year Released      1995
Movie Length     2h 58m
Movie Rating        21+
Star Rating         8.2
Name: 14, dtype: object
Title            Shutter Island
Year Released              2010
Movie Length             2h 18m
Movie Rating                 21
Star Rating                 8.2
Name: 15, dtype: object
Title            Pan's Labyrinth
Year Released               2006
Movie Length              1h 58m
Movie Rating                   R
Star Rating                  8.2
Name: 16, dtype: object
Title            The Sixth Sense
Year Released               1999
Movie Length              1h 47m
Movie Rating                 17+
Star Rating                  8.2
Name: 17, dtype: object
Title            Unforgiven
Year Released          1992
Movie Length         2h 10m
Movie Rating              R
Star Rating             8.2
Name: 18, dtype: object
Title            Jurassic Park
Year Released             1993
Movie Length             2h 7m
Movie Rating               16+
Star Rating                8.2
Name: 19, dtype: object
Title            A Beautiful Mind
Year Released                2001
Movie Length               2h 15m
Movie Rating                  17+
Star Rating                   8.2
Name: 20, dtype: object
Title            The Treasure of the Sierra Madre
Year Released                                1947
Movie Length                                2h 6m
Movie Rating                               Passed
Star Rating                                   8.2
Name: 21, dtype: object
Title            Yôjinbô
Year Released       1961
Movie Length      1h 50m
Movie Rating         NaN
Star Rating          8.2
Name: 22, dtype: object
Title            No Country for Old Men
Year Released                      2007
Movie Length                      2h 2m
Movie Rating                         21
Star Rating                         8.2
Name: 23, dtype: object
Title            Kill Bill: Vol. 1
Year Released                 2003
Movie Length                1h 51m
Movie Rating                   21+
Star Rating                    8.2
Name: 24, dtype: object
Title            Monty Python and the Holy Grail
Year Released                               1975
Movie Length                              1h 31m
Movie Rating                                  PG
Star Rating                                  8.2
Name: 25, dtype: object
Title            The Great Escape
Year Released                1963
Movie Length               2h 52m
Movie Rating             Approved
Star Rating                   8.2
Name: 26, dtype: object
Title            The Thing
Year Released         1982
Movie Length        1h 49m
Movie Rating             D
Star Rating            8.2
Name: 27, dtype: object
Title            Rashômon
Year Released        1950
Movie Length       1h 28m
Movie Rating          NaN
Star Rating           8.2
Name: 28, dtype: object
Title            Finding Nemo
Year Released            2003
Movie Length           1h 40m
Movie Rating               SU
Star Rating               8.2
Name: 29, dtype: object
Title            The Elephant Man
Year Released                1980
Movie Length                2h 4m
Movie Rating                   PG
Star Rating                   8.2
Name: 30, dtype: object
Title            Chinatown
Year Released         1974
Movie Length        2h 10m
Movie Rating             R
Star Rating            8.2
Name: 31, dtype: object
Title            Gone with the Wind
Year Released                  1939
Movie Length                 3h 58m
Movie Rating                 Passed
Star Rating                     8.2
Name: 32, dtype: object
Title            Howl's Moving Castle
Year Released                    2004
Movie Length                   1h 59m
Movie Rating                       7+
Star Rating                       8.2
Name: 33, dtype: object
Title            Dial M for Murder
Year Released                 1954
Movie Length                1h 45m
Movie Rating                    PG
Star Rating                    8.2
Name: 34, dtype: object
Title            V for Vendetta
Year Released              2005
Movie Length             2h 12m
Movie Rating                  D
Star Rating                 8.2
Name: 35, dtype: object
Title            Spider-Man: No Way Home
Year Released                       2021
Movie Length                      2h 28m
Movie Rating                          SU
Star Rating                          8.2
Name: 36, dtype: object
Title            Raging Bull
Year Released           1980
Movie Length           2h 9m
Movie Rating               R
Star Rating              8.1
Name: 37, dtype: object
Title            Lock, Stock and Two Smoking Barrels
Year Released                                   1998
Movie Length                                  1h 47m
Movie Rating                                       R
Star Rating                                      8.1
Name: 38, dtype: object
Title            El Secreto De Sus Ojos
Year Released                      2009
Movie Length                      2h 9m
Movie Rating                          R
Star Rating                         8.2
Name: 39, dtype: object
Title            Inside Out
Year Released          2015
Movie Length         1h 35m
Movie Rating             SU
Star Rating             8.1
Name: 40, dtype: object
Title            Prisoners
Year Released         2013
Movie Length        2h 33m
Movie Rating           17+
Star Rating            8.1
Name: 41, dtype: object
Title            Three Billboards Outside Ebbing, Missouri
Year Released                                         2017
Movie Length                                        1h 55m
Movie Rating                                            21
Star Rating                                            8.1
Name: 42, dtype: object
Title            The Bridge on the River Kwai
Year Released                            1957
Movie Length                           2h 41m
Movie Rating                               PG
Star Rating                               8.1
Name: 43, dtype: object
Title            Trainspotting
Year Released             1996
Movie Length            1h 33m
Movie Rating                21
Star Rating                8.1
Name: 44, dtype: object
Title             Fargo
Year Released      1996
Movie Length     1h 38m
Movie Rating          R
Star Rating         8.1
Name: 45, dtype: object
Title            Warrior
Year Released       2011
Movie Length      2h 20m
Movie Rating         13+
Star Rating          8.1
Name: 46, dtype: object
Title            Gran Torino
Year Released           2008
Movie Length          1h 56m
Movie Rating               R
Star Rating              8.1
Name: 47, dtype: object
Title            Catch Me If You Can
Year Released                   2002
Movie Length                  2h 21m
Movie Rating                     16+
Star Rating                      8.1
Name: 48, dtype: object
Title            Tonari no Totoro
Year Released                1988
Movie Length               1h 26m
Movie Rating                   SU
Star Rating                   8.1
Name: 49, dtype: object
Title            Million Dollar Baby
Year Released                   2004
Movie Length                  2h 12m
Movie Rating                   PG-13
Star Rating                      8.1
Name: 50, dtype: object
Title             Klaus
Year Released      2019
Movie Length     1h 36m
Movie Rating         7+
Star Rating         8.2
Name: 51, dtype: object
Title            Harry Potter and the Deathly Hallows: Part 2
Year Released                                            2011
Movie Length                                           2h 10m
Movie Rating                                              13+
Star Rating                                               8.1
Name: 52, dtype: object
Title            Bacheha-Ye aseman
Year Released                 1997
Movie Length                1h 29m
Movie Rating                    21
Star Rating                    8.2
Name: 53, dtype: object
Title            Blade Runner
Year Released            1982
Movie Length           1h 57m
Movie Rating                R
Star Rating               8.1
Name: 54, dtype: object
Title            12 Years a Slave
Year Released                2013
Movie Length               2h 14m
Movie Rating                    R
Star Rating                   8.1
Name: 55, dtype: object
Title            Before Sunrise
Year Released              1995
Movie Length             1h 41m
Movie Rating                  R
Star Rating                 8.1
Name: 56, dtype: object
Title            The Gold Rush
Year Released             1925
Movie Length            1h 35m
Movie Rating            Passed
Star Rating                8.1
Name: 57, dtype: object
Title            The Grand Budapest Hotel
Year Released                        2014
Movie Length                       1h 39m
Movie Rating                          17+
Star Rating                           8.1
Name: 58, dtype: object
Title            Ben-Hur
Year Released       1959
Movie Length      3h 32m
Movie Rating           G
Star Rating          8.1
Name: 59, dtype: object
Title            Gone Girl
Year Released         2014
Movie Length        2h 29m
Movie Rating             R
Star Rating            8.1
Name: 60, dtype: object
Title            Barry Lyndon
Year Released            1975
Movie Length            3h 5m
Movie Rating               PG
Star Rating               8.1
Name: 61, dtype: object
Title            On the Waterfront
Year Released                 1954
Movie Length                1h 48m
Movie Rating              Approved
Star Rating                    8.1
Name: 62, dtype: object
Title            Hacksaw Ridge
Year Released             2016
Movie Length            2h 19m
Movie Rating               18+
Star Rating                8.1
Name: 63, dtype: object
Title            In the Name of the Father
Year Released                         1993
Movie Length                        2h 13m
Movie Rating                             R
Star Rating                            8.1
Name: 64, dtype: object
Title            The General
Year Released           1926
Movie Length          1h 18m
Movie Rating          Passed
Star Rating              8.1
Name: 65, dtype: object
Title            Memories of Murder
Year Released                  2003
Movie Length                 2h 11m
Movie Rating                    NaN
Star Rating                     8.1
Name: 66, dtype: object
Title            The Deer Hunter
Year Released               1978
Movie Length               3h 3m
Movie Rating                   D
Star Rating                  8.1
Name: 67, dtype: object
Title            Smultronstället
Year Released               1957
Movie Length              1h 31m
Movie Rating                 17+
Star Rating                  8.1
Name: 68, dtype: object
Title            Le salaire de la peur
Year Released                     1953
Movie Length                    2h 11m
Movie Rating                       NaN
Star Rating                        8.2
Name: 69, dtype: object
Title            The Third Man
Year Released             1949
Movie Length            1h 44m
Movie Rating          Approved
Star Rating                8.1
Name: 70, dtype: object
Title            Relatos salvajes
Year Released                2014
Movie Length                2h 2m
Movie Rating                    R
Star Rating                   8.1
Name: 71, dtype: object
Title            Sherlock Jr.
Year Released            1924
Movie Length              45m
Movie Rating           Passed
Star Rating               8.2
Name: 72, dtype: object
Title            Mad Max: Fury Road
Year Released                  2015
Movie Length                     2h
Movie Rating                    16+
Star Rating                     8.1
Name: 73, dtype: object
Title            Dead Poets Society
Year Released                  1989
Movie Length                  2h 8m
Movie Rating                    13+
Star Rating                     8.1
Name: 74, dtype: object
Title            Mr. Smith Goes to Washington
Year Released                            1939
Movie Length                            2h 9m
Movie Rating                           Passed
Star Rating                               8.1
Name: 75, dtype: object
Title            Monsters, Inc.
Year Released              2001
Movie Length             1h 32m
Movie Rating                 SU
Star Rating                 8.1
Name: 76, dtype: object
Title            How to Train Your Dragon
Year Released                        2010
Movie Length                       1h 38m
Movie Rating                         R13+
Star Rating                           8.1
Name: 77, dtype: object
Title             Jaws
Year Released     1975
Movie Length     2h 4m
Movie Rating        PG
Star Rating        8.1
Name: 78, dtype: object
Title            Mary and Max.
Year Released             2009
Movie Length            1h 32m
Movie Rating               NaN
Star Rating                8.1
Name: 79, dtype: object
Title            Det sjunde inseglet
Year Released                   1957
Movie Length                  1h 36m
Movie Rating                     17+
Star Rating                      8.1
Name: 80, dtype: object
Title              Room
Year Released      2015
Movie Length     1h 58m
Movie Rating        13+
Star Rating         8.1
Name: 81, dtype: object
Title            Ford v Ferrari
Year Released              2019
Movie Length             2h 32m
Movie Rating                13+
Star Rating                 8.1
Name: 82, dtype: object
Title            The Big Lebowski
Year Released                1998
Movie Length               1h 57m
Movie Rating                    R
Star Rating                   8.1
Name: 83, dtype: object
Title            Tôkyô monogatari
Year Released                1953
Movie Length               2h 16m
Movie Rating                  NaN
Star Rating                   8.1
Name: 84, dtype: object
Title            Ratatouille
Year Released           2007
Movie Length          1h 51m
Movie Rating               R
Star Rating              8.1
Name: 85, dtype: object
Title            Rocky
Year Released     1976
Movie Length        2h
Movie Rating        PG
Star Rating        8.1
Name: 86, dtype: object
Title            Hotel Rwanda
Year Released            2004
Movie Length            2h 1m
Movie Rating                D
Star Rating               8.1
Name: 87, dtype: object
Title            La passion de Jeanne d'Arc
Year Released                          1928
Movie Length                         1h 50m
Movie Rating                         Passed
Star Rating                             8.1
Name: 88, dtype: object
Title             Logan
Year Released      2017
Movie Length     2h 17m
Movie Rating        17+
Star Rating         8.1
Name: 89, dtype: object
Title            Platoon
Year Released       1986
Movie Length          2h
Movie Rating           D
Star Rating          8.1
Name: 90, dtype: object
Title            Spotlight
Year Released         2015
Movie Length         2h 9m
Movie Rating           13+
Star Rating            8.1
Name: 91, dtype: object
Title            The Terminator
Year Released              1984
Movie Length             1h 47m
Movie Rating                  D
Star Rating                 8.1
Name: 92, dtype: object
Title            Jai Bhim
Year Released        2021
Movie Length       2h 44m
Movie Rating          16+
Star Rating           8.8
Name: 93, dtype: object
Title            Before Sunset
Year Released             2004
Movie Length            1h 20m
Movie Rating                 R
Star Rating                8.1
Name: 94, dtype: object
Title             Rush
Year Released     2013
Movie Length     2h 3m
Movie Rating         R
Star Rating        8.1
Name: 95, dtype: object
Title            Network
Year Released       1976
Movie Length       2h 1m
Movie Rating           R
Star Rating          8.1
Name: 96, dtype: object
Title            Stand by Me
Year Released           1986
Movie Length          1h 29m
Movie Rating             17+
Star Rating              8.1
Name: 97, dtype: object
Title            The Best Years of Our Lives
Year Released                           1946
Movie Length                          2h 50m
Movie Rating                        Approved
Star Rating                              8.1
Name: 98, dtype: object
Title            La haine
Year Released        1995
Movie Length       1h 38m
Movie Rating          NaN
Star Rating           8.1
Name: 99, dtype: object
Title            The Wizard of Oz
Year Released                1939
Movie Length               1h 42m
Movie Rating                  13+
Star Rating                   8.1
Name: 100, dtype: object
Title            Into the Wild
Year Released             2007
Movie Length            2h 28m
Movie Rating                21
Star Rating                8.1
Name: 101, dtype: object
Title            The Exorcist
Year Released            1973
Movie Length            2h 2m
Movie Rating                D
Star Rating               8.1
Name: 102, dtype: object
Title            Pirates of the Caribbean: The Curse of the Bla...
Year Released                                                 2003
Movie Length                                                2h 23m
Movie Rating                                                   17+
Star Rating                                                    8.1
Name: 103, dtype: object
Title            The Incredibles
Year Released               2004
Movie Length              1h 55m

                  Title  Year Released Movie Length Movie Rating  Star Rating
0                Dangal           2016       2h 41m          13+          8.3
1     Top Gun: Maverick           2022       2h 10m           SU          8.3
..                  ...            ...          ...          ...          ...
123             Aladdin           1992       1h 30m            G          8.0
124  Dances with Wolves           1990        3h 1m        PG-13          8.0

[250 rows x 5 columns]

In [14]:
df_merge.query("`Star Rating` > 5")

                  Title  Year Released Movie Length Movie Rating  Star Rating
0                Dangal           2016       2h 41m          13+          8.3
1     Top Gun: Maverick           2022       2h 10m           SU          8.3
..                  ...            ...          ...          ...          ...
123             Aladdin           1992       1h 30m            G          8.0
124  Dances with Wolves           1990        3h 1m        PG-13          8.0

[250 rows x 5 columns]

In [15]:
df_merge.groupby(["Year Released"]).count()

               Title  Movie Length  Movie Rating  Star Rating
Year Released
1921               2             2             2            2
1924               2             2             2            2
...              ...           ...           ...          ...
2021               4             4             4            4
2022               2             2             2            2

[66 rows x 4 columns]

In [16]:
df_merge.agg('sum')

C:\Users\Michail\AppData\Local\Temp\ipykernel_17248\3762880127.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_merge.agg('sum')

Title            DangalTop Gun: MaverickPer qualche dollaro in ...
Year Released                                               496522
Movie Length     2h 41m2h 10m2h 12m2h 20m2h 1m1h 8m3h1h 37m2h 1...
Star Rating                                                 2035.0
dtype: object

In [17]:
df_merge.fillna(value={"Movie Rating" : "Not Rated"}, inplace=True)
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 124
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          250 non-null    object
 1   Year Released  250 non-null    int64
 2   Movie Length   250 non-null    object
 3   Movie Rating   250 non-null    object
 4   Star Rating    250 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 11.7+ KB

In [26]:
global column, movieDataSet
with open("movies_metadata.csv") as fileObj:
    reader_obj = csv.reader(fileObj)

    
    column = [attribute for attribute in reader_obj.__next__()]
    movieDataSet = {attribute : [] for attribute in column}

    for row in reader_obj:
        for data in zip(column, row):
            movieDataSet[data[0]].append(data[1])

In [32]:
id = []
name = []
poster_path = []
backdrop_path = []


for collection in movieDataSet["belongs_to_collection"]:
    if len(collection) == 0:
        id.append(None)
        name.append(None)
        poster_path.append(None)
        backdrop_path.append(None)
        continue
    collectionProccessed = eval(collection)
    
    id.append(collectionProccessed['id'])
    name.append(collectionProccessed['name'])
    poster_path.append(collectionProccessed['poster_path'])
    backdrop_path.append(collectionProccessed['backdrop_path'])

collectionDataset = {"id" : id, "name" : name, "poster path" : poster_path, "backdrop path" : backdrop_path}

collectionDf = pd.DataFrame(collectionDataset).dropna()
collectionDf

,id,name,poster path,backdrop path
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
...,...,...,...,...
45366,37261.0,The Carry On Collection,/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg,/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg
45379,200641.0,Red Lotus Collection,/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg,/3fhHbLeO3DqdHvgHg5szs399eBb.jpg

In [ ]:
type(eval(""))

SyntaxError: unexpected EOF while parsing (<string>, line 0)